.select-menu-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.select-menu-tab {
  border: 0.5px solid var(--border-light);
  padding: 0.5rem 0.75rem;
  border-radius: 16px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.select-menu-tab:hover {
  cursor: pointer;
  background-color: var(--bg-hover-primary);
}

.select-menu-tab.active {
  background-color: var(--bg-active);
}
