.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.home-board-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  opacity: 1;
  max-height: 2000px;
}

.home-board-msg-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
}

.home-board-msg-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.home-board-msg-user {
  display: flex;
  margin-left: auto;
  background-color: #8aa8e4;
  padding: 1rem;
  border-radius: 12px;
  max-width: 60%;
  animation: slide-in-right 0.3s ease;
}

.home-board-msg-ai {
  align-self: flex-start;
  background-color: #e5e7eb;
  padding: 1rem;
  border-radius: 12px;
  max-width: 70%;
  animation: slide-in-left 0.3s ease;
}

.home-board-reset-btn {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  width: auto;
}

.home-board-reset-btn:hover {
  cursor: pointer;
  background-color: var(--bg-nav-bar-hover);
  color: var(--bg-nav-bar-primary);
}

.home-board-msg-search-container {
  padding-bottom: 2rem;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
