.history-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  height: 100%;
  overflow: auto;
  width: 100%; /* 명시적으로 너비 지정 */
  box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
}

.history-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  position: relative;
  justify-content: center;
}

.history-container.overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.history-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
  padding-bottom: 0.75rem;
  border-bottom: 3px solid var(--text-primary);
}

@media (max-width: 1200px) {
  .history-wrapper {
    padding: 2rem;
  }

  .history-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .history-wrapper {
    padding: 1.5rem;
  }

  .history-container {
    grid-template-columns: 1fr;
  }

  .history-title {
    font-size: 2rem;
  }
}

.history-msg-container {
  display: flex;
  justify-content: center;
}

.history-msg-container span {
  font-weight: 600;
  font-size: 1.25rem;
}
