.ctag-item-container {
  padding: 6px 12px;
  border: 1px solid var(--border-league-board);
  border-radius: 6px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--bg-nav-bar-hover);
  color: var(--bg-nav-bar-primary);
}

.ctag-item-icon {
  display: flex;
}

.ctag-item-container:hover {
  cursor: pointer;
  background-color: var(--bg-hover-tag);
  color: var(--bg-hover-tag-color);
}
