.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.search-bar-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-light);
  border-radius: 1rem;
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.search-bar-tag-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-light);
}

.search-bar-input-area {
  border: none;
  background-color: var(--bg-search-bar-input-area);
  color: var(--bg-search-bar-input-area-font-color);
  caret-shape: block;
  font-size: 14px;
  padding: 1rem;
  min-height: 2rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  resize: none;
  max-height: 10rem;
  overflow: auto;
  line-height: 1.5;
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    Segoe UI,
    Helvetica,
    Apple Color Emoji,
    Arial,
    sans-serif;
}

.search-bar-input-area:focus {
  border: none;
  outline: none;
}

.search-bar-btn {
  width: 7%;
  min-width: 15px;
  background-color: var(--bg-rev-primary);
  color: var(--text-rev-primary);
  border-radius: 1rem;
}
