:root {
  --bg-hover-tag: #eb4b4b;
  --bg-hover-tag-color: white;
}

:root[data-theme="dark"] {
  --bg-hover-tag: #eb4b4b;
  --bg-hover-tag-color: white;
}
.tag-item-container {
  padding: 6px 12px;
  border: 1px solid var(--border-league-board);
  border-radius: 6px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.tag-item-icon {
  display: flex;
}

.tag-item-container:hover {
  cursor: pointer;
  background-color: var(--bg-hover-tag);
  color: var(--bg-hover-tag-color);
}
