.loading-wrapper {
  position: relative;
  display: inline-block;
}

.loading-text {
  position: relative;
  z-index: 1;
}

.loading-opacity-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9999);
  opacity: 0.5;
  z-index: 10;
  animation: moving-forward 1.5s linear infinite;
}

@keyframes moving-forward {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
