.default-layout-container {
  display: flex;
  min-height: 100vh;
}

.default-layout-navigation {
  width: 120px;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
  position: fixed;
}

.default-layout-contents {
  width: calc(100% - 120px);
  margin-left: 120px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
